# Generated using https://zed0.co.uk/clang-format-configurator/
BasedOnStyle: Google
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
ColumnLimit: 120
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Right
SpacesBeforeTrailingComments: 1
Standard: Auto
